@keyframes smooth-appear {
  to {
    transform: translateY(0);
  }
}

.transaction-list {
  position: fixed;
  overflow: scroll;
  z-index: 2;
  transform: translateY(100%);

  height: 100%;
  width: 100%;

  background-color: $background-color;

  animation: smooth-appear 0.3s ease forwards;

  &__topbar {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 5px;

    background-color: $secondary-color;

    img {
      width: 30px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
  }

  &__button {
    width: 100%;
    padding: 10px 20px;

    border: 2px solid $secondary-color;
    border-radius: 20px;

    font-size: 16px;
    font-weight: bold;
    text-align: center;

    color: $secondary-color;
    background-color: $background-color-focus;

    &--highlight {
      color: $ternary-text-color;
      background-color: $secondary-color;
    }
  }

  &__data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 10px;
    margin-bottom: 10px;

    color: $secondary-text-color;
    border-bottom: 2px solid $secondary-text-color;

    p {
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__income,
  &__costs {
    font-weight: bold;
  }

  &__income {
    color: $secondary-color;
  }

  &__costs {
    color: $primary-color;
  }
}
