@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: $background-color;
}

button {
  border: none;
  outline: none;
  color: $ternary-text-color;
  background-color: $background-color-button;

  cursor: pointer;
}

a {
  color: $secondary-color;

  &:visited {
    color: $secondary-color;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $background-color-focus inset;
}

.layout {
  width: 100%;
  height: 100vh;

  display: grid;
  grid:
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 2px;
}

.main {
  grid-area: main;
  position: relative;
}

.footer {
  grid-area: footer;
  position: sticky;
  bottom: 0;
}
