.topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  position: sticky;
  top: 0;

  height: 60px;
  margin-bottom: 5px;

  background-color: $primary-text-color;
  border-bottom: 3px solid $primary-color;

  &__back {
    display: flex;
    align-items: center;
    position: absolute;
    left: 5px;

    img {
      width: 30px;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 18px;
    color: $ternary-text-color;
  }

  &__container {
    display: flex;
    align-items: center;

    font-size: 18px;

    a {
      display: flex;
      // gap: 3px;
      align-items: baseline;

      p {
        color: $ternary-text-color;
      }
    }
  }

  &__logo {
    position: absolute;
    margin-top: auto;
    right: 10px;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    height: 30px;
  }

  &__icon {
    height: 30px;
    transform: translateY(1px);
  }
}
