.home {
  display: flex;
  justify-content: center;
  height: 100%;

  &__container {
    width: 100%;
    max-width: 500px;
  }

  &__option {
    display: flex;
    align-items: center;
    gap: 10px;

    margin: 20px;
    padding: 20px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 2px -2px $gray-light;
  }

  &__icon {
    width: 70px;
  }

  &__title {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}
