.accounts {
  height: 100%;

  &__title {
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__section {
    padding: 10px;
    color: $ternary-text-color;
    background-color: $gray-dark;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    border-bottom: 1px solid $secondary-text-color;
  }

  &__id {
    font-size: 12px;
    color: $gray-dark;
  }
}
