.transaction-form {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  &__back {
    height: 100%;
    width: 100%;
    background-color: $background-color-button;
    opacity: 40%;
  }

  &__container {
    position: absolute;
    max-width: 500px;
    padding: 15px;
    border-radius: 10px;
    background-color: $background-color-focus;
  }

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  &__error {
    text-align: center;
    font-weight: bold;
    color: $error-color;
  }

  &__input {
    display: block;
    align-items: center;
    gap: 8px;
    margin-top: 15px;

    label {
      font-size: 16px;
      font-weight: bold;
    }

    input {
      width: 100%;
      margin-bottom: 7px;
      margin-top: 7px;
      padding: 10px;
      font-size: 16px;
      outline: none;
      border: 1px solid;
      border-radius: 10px;
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
  }

  &__button {
    width: 100%;
    padding: 10px;

    font-weight: bold;

    border-radius: 10px;

    &--cancel {
      background-color: $error-color;
    }
  }
}
