$primary-color: #e30613;
$secondary-color: #007a87;

$gray-dark: #4b4b4b;

$primary-text-color: #19171c;
$secondary-text-color: #bdb8aa;
$ternary-text-color: #ffffff;

$background-color: #f4f5f6;
$background-color-focus: #ffffff;
$background-color-button: #19171c;

$error-color: #e30613;
